<app-navbar></app-navbar>
<div class="home-container">
  <div class="main-content animate__animated animate__fadeInUp">
    <div class="main-content animate__animated animate__fadeInUp">
      <div class="thumb-container">
        <img
          src="../../../assets/thumb2.jpg"
          alt="Profile Image"
          class="thumb-image"
        />
      </div>
    </div>

    <div class="text-container">
      <p>Project:1 (Portfolio Website)</p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque
        placerat nec enim quis dictum. Vestibulum ut dignissim libero, vel
        scelerisque eros. Nullam finibus, risus at hendrerit fringilla, sapien
        ligula volutpat dolor, id fermentum ante turpis nec massa. Vestibulum a
        ultricies nulla. Donec gravida varius sodales. Ut euismod, mauris eu
        fermentum auctor, tortor diam aliquet massa, nec posuere dui erat sed
        ipsum. Duis vel tristique risus, ac congue tortor. Suspendisse potenti.
        Proin eu erat imperdiet, mattis dolor vestibulum, pretium sem.
        Pellentesque porttitor ac urna sit amet cursus.
      </p>
    </div>
  </div>

  <div>
    <div
      id="skills-section"
      class="skills-section animate__animated animate__fadeInUp"
    >
      <p style="font-size: 25px; color: #6b08a6">My Skills</p>
    </div>
    <div class="card-container">
      <mat-card class="example-card animate__animated animate__fadeinUp">
        <mat-card-header class="row align-items-center">
          <p style="color: #6b08a6">Angular</p>
        </mat-card-header>
        <img mat-card-image src="../../../assets/angular1.jpeg" alt="Image" />
        <mat-card-content>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non
          tellus nec metus congue fermentum. Donec ac nunc id nunc semper
          consectetur.
        </mat-card-content>
        <button>Know more...</button>
      </mat-card>

      <mat-card class="example-card animate__animated animate__fadeinUp">
        <mat-card-header class="row align-items-center">
          <p style="color: #6b08a6">ReactJS</p>
        </mat-card-header>
        <img mat-card-image src="../../../assets/react1.jpeg" alt="Image" />
        <mat-card-content>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non
          tellus nec metus congue fermentum. Donec ac nunc id nunc semper
          consectetur.
        </mat-card-content>
        <button>Know more...</button>
      </mat-card>

      <mat-card class="example-card animate__animated animate__fadeinUp">
        <mat-card-header class="row align-items-center">
          <p style="color: #6b08a6">Javascript</p>
        </mat-card-header>
        <img
          mat-card-image
          src="../../../assets/javascript1.jpeg"
          alt="Image"
        />
        <mat-card-content>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non
          tellus nec metus congue fermentum. Donec ac nunc id nunc semper
          consectetur.
        </mat-card-content>
        <button>Know more...</button>
      </mat-card>
    </div>
  </div>
</div>
<app-footer></app-footer>
